body {
       background-color: brown;
}
section {
       position: absolute;
              top: 10px;
              left: 50px;
       height: 175px;
       width: 100;
       border: 2px solid;
       border-radius: 10px;
     }
     .question {
       background-color: lightblue;
     }
     .answer {
       background-color: lightgray;
     }
     .q2 {
       left: 200;
     }
     nav {
       position: relative;
        margin: 20px;
        float: left;
        height: 200px;
        width: 100px;
     }
     nav:hover .question {
      display: none;
     }
